# texi2pdf products
/guildhall.aux
/guildhall.cp
/guildhall.cps
/guildhall.fn
/guildhall.ky
/guildhall.log
/guildhall.pdf
/guildhall.pg
/guildhall.toc
/guildhall.tp
/guildhall.vr

# makeinfo products
/guildhall.info
