# texi2pdf products
/dorodango.aux
/dorodango.cp
/dorodango.cps
/dorodango.fn
/dorodango.ky
/dorodango.log
/dorodango.pdf
/dorodango.pg
/dorodango.toc
/dorodango.tp
/dorodango.vr

# makeinfo products
/dorodango.info
